/************************************************************/
/*		ADMIN HEADER										*/
/************************************************************/
div#header {
	font-family:Helvetica, Arial, Sans-Serif;
	position:relative;
	margin:0;
	border:none;
	padding:0;
	background:#191919;
	height:40px;
	border-bottom:5px solid black;
}
div#header h1 {
	background:url('../admin-images/diderot.gif') left center no-repeat;
	height:16px;
	text-indent:-9999px;
	margin:0 0 0 20px;
	height:40px;
}
div#header a.admin-toggle{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	width:150px;
	height:40px;
}
div.home{
	position:absolute;
	right:0;
	top:0;
	text-align:right;
	padding:0 20px;
	line-height:18px;
	background:#373838;
	margin:0;
	height:40px;
	color:white;
	line-height:40px;
	font-size:11px;
}
div.home h2{
	margin:0;
	display:inline;
	padding:0 20px 0 0;
}
div.home span{
	padding:0px 10px;
}
div.home a,
div.home a:visited{
	color:white;
}
div#controlpanel {
	font-family:Helvetica, Arial, Sans-Serif;
	background:#191919;
	font-size:11px;
	margin:0 0 0px 0;
	color:white;
}
div#controlpanel h2 {
	font-weight:bold;
	background:black url('../admin-images/arrow-right.gif') 21px 2px no-repeat;
	color:white;
	padding: 2px 20px 5px 38px;
}
div#controlpanel h2.selected {
	font-weight:bold;
	background:black url('../admin-images/arrow-down.gif') 21px 2px no-repeat;
	color:white;
	padding: 2px 20px 5px 38px;
}
div#controlpanel div#controlpanelform{
	padding: 5px 20px 5px 20px;
}
div#controlpanel fieldset {
	float:left;
	width:400px;
}
div#controlpanel fieldset input{
	margin:0 3px 0 0;
	position:relative;
	top:3px;
	font-family:Helvetica, Arial, Sans-Serif;
}
div#controlpanel fieldset div input{
	position:static;
	font-family:Helvetica, Arial, Sans-Serif;
}
div#controlpanel fieldset div label{
	padding:0 3px 0 0;
}
div#controlpanel fieldset div#leadmode_manual_dependent,
div#controlpanel fieldset div#listmode_manual_dependent{
	padding:5px 0;
}
button.deletebutton{
	border:none;
	position:absolute;
	top:0;
	right:0;
	background-color: #333;
	color: white;
	font-family:"Trebuchet MS",sans-serif;
	font-weight: bold;
	font-size: 11px;
	line-height:14px;
	padding: 3px 5px 4px;
}
button.deletebutton span{
}
div.featured span.deletebutton {
	position:absolute;
	bottom: 0;
	right: 0;
	background-color: #333;
	color: white;
	padding:5px;
	font-size:10px;
}
