body{
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	color:#333;
}
img.hidden{
	position:absolute;
	left:-99999px;
}
div.headershadow{
	background:url('../images/header-shadow.gif') repeat-x;
	min-height:400px;
}
div.logooverlay{
	min-width:1008px;
	min-height:400px;
}
body.error-404 div.logooverlay{
	min-width:1008px;
	min-height:400px;
}
div.container{
	width:990px;
	margin:0 auto;
	position:relative;
	min-height:400px;
}
body.inner.donate div.container{
	width:990px;
	margin:0 auto;
	position:relative;
	min-height:400px;
}
* html div.container div.container-inner{
	height:900px;
}
div.container div.container-inner{
	min-height:400px;
}
body.donate.inner div.container div.container-inner{
	min-height:400px;
}
body.donate td.book-offer{
	text-align:center;
	padding:10px 0 0 0;
}
body.donate td.book-offer p{
	font-size:20px;
	font-weight:700;
}
body.donate td.book-offer img{
	display:inline;
}
body.home div.logooverlay{
	min-width:1008px;
	min-height:400px;
}
* html body.home div.container div.container-inner{
	height:900px;
}
body.home div.container div.container-inner{
	background:url('../images/homecolumns.gif') -1px center repeat-y;
}
body div.container div.container-inner{
	background:url('../images/innercolumns.gif') center center repeat-y;
}
body.donate div.container div.container-inner{
	background:none;
}
body.donate div.col2-subcolumn{
	margin:10px auto;
	float:none;
	width:800px;
}
body.subscribe div.container div.container-inner{
	background:none;
}
.clear{
	clear:both;
}
a{
	color:#ff5600;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
span.editor a{
	font-size:60%;
	font-family: inherit;
	background:#ff5600;
	color:white;
	padding:.2% 1% 0 1%;
	text-transform:uppercase;
	font-weight:700;
	position:relative;
	top:-.2em;
}
/*body.inner a.editor{
	top:30px;
	background:#333;
	display:block;
	text-align:center;
	color:white;
	padding:3px 10px 4px 10px;
	font-size:11px;
	font-weight:700;
	height:14px;
}*/
.google-ad {
	border: 1px solid #CCC;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 2px;
}
/*													TOP AD AREA				*/
/****************************************************************************/
div#google_ads_div_header1_ad_container{
	margin-right:15px;
}
div.header div.inner img{
	float:right;
}
div.header iframe,
div.header div{
	float:left;
	border:1px solid #fff;
}
div.header div.google_ads_div_header2{
	float:right;
}
body.doubleheightheader div.header{
	height:195px;
}
body.doubleheightheader div.headershadow{
	background:url('../images/header-shadow2.gif') 0 0px repeat-x;
	min-height:400px;
}
body.doubleheightheader div.logooverlay{
	min-width:1008px;
	min-height:400px;
}
div.header embed{
	margin:4px 0 15px 0;
}
/*													TOPNAV					*/
/****************************************************************************/
div#topnav{
	background:#fff;
	height:30px;
	margin-right:5px;
}
div#topnav ul{
	float:right;
	padding:0;
	margin:7px 5px 0 0;
}
div#topnav ul li{
	float:left;
	list-style-type:none;
	line-height:11px;
	padding-bottom:4px;
}
div#topnav ul li.text{
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #7f7f7f;
}
div#topnav ul li.text a{
	font-size:11px;
	padding-top:0;
}
div#topnav ul li.icon{
	padding-left:5px;
}
div#topnav ul li.icon a{
	display:block;
	width:16px;
	height:16px;
	background:white url(../images/topnav-sprites.gif) no-repeat;
}
div#topnav ul li.icon.twitter a{
	background-position:0 0;
}
div#topnav ul li.icon.facebook a{
	background-position:0 -36px;
}
div#topnav ul li.icon.youtube a{
	background-position:0 -72px;
}
div#topnav ul li.icon.iphone a{
	background-position:0 -108px;
}
div#topnav ul li.icon.rss a{
	background-position:0 -144px;
}
/*													HEADER					*/
/****************************************************************************/
div.header{
	height:98px;
	padding:5px 0 0 0;
	width:987px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
div.header h1{
	position:absolute;
	font-size:0px;
	left:-99999px;
}
div.header div {
	display: inline;
	margin: 0;
}
div.header #google_ads_div_header2 {
	margin-left: 15px;
}
div.header a img{
	float:right;
	margin-right:2px;
}
/*			TOPCONTAINER		*/
/********************************/
div.top-container{
	position:relative;
	height:182px;
	background:#fff url('../images/header-shadow.gif') 0 -104px repeat-x;
}
div.top-container div.top-inner{
	background:url('../images/logov2.gif') 0 97px no-repeat;
	height:182px;
}
body.blog div.top-container div.top-inner,
body.hitandrun div.top-container div.top-inner{
	background:url('../images/logohnrv2.gif') 0 97px no-repeat;
}
/*					TOPNAV		*/
/********************************/
div.topnav{
	position:absolute;
	right:5px;
	top:3px;
	width:985px;
	height:27px;
	text-align:right;
	padding-top:1px;
}
div.topnav ul{
	display:inline;
}
div.topnav ul li{
	font-size:11px;
	padding:3px 8px 0 0;
	display:inline;
}
div.topnav ul li a{
	font-size:11px;
	padding:0 13px 0 0;
	background:url('../images/topnav-divider.gif') right 2px no-repeat;
	border-right:1px solid #b3b0ac;
	color:#000;
	font-weight:bold;
}
* html div.topnav form{
	position:relative;
	top:3px;
}
div.topnav form{
	display:inline;
}
div.topnav form input{
	border:1px solid #e0dedc;
	background:white;
}
div.topnav form input.button{
	border:1px solid #e0dedc;
	background:white;
	padding:0;
}	
/*				VIDEOTEASER		*/
/********************************/
div.videoteaser{
	position:absolute;
	top:80px;
	right:5px;
	border:1px solid #bfbfbf;
	height:88px;
}
body.home div.videoteaser{
	right:5px;
}
div.videoteaser div {
	float: left;
}
div.videoteaser div.videoteaser-container {
	overflow: hidden;
	width: 440px;
}
body.home div.videoteaser div.videoteaser-container {
	width: 660px;
}
div.videoteaser div.nav{
	height: 88px;
	width:20px;
	background: white url('../images/vid-nav.gif') no-repeat;
	text-indent:-9999px;
	padding:0;
}
div.videoteaser div.nav:hover{
	background:#f0f0f0 url('../images/vid-nav.gif') no-repeat;
}
div.videoteaser div.nav.prev{
	background-position:5px center;
	border-right:1px solid #bfbfbf;
}
div.videoteaser div.nav.next{
	background-position:-85px center;
	border-left:1px solid #bfbfbf;
}
div.videoteaser-container ul {
	float: left;
	width: 100000px;
}
div.videoteaser-container ul li {
	overflow: hidden;
	float:left;
	font-size:11px;
	height:80px;
	width:220px;
}
div.videoteaser-container ul li img {
	float: left;
	padding: 10px 0 0 10px;
}
div.videoteaser-container ul li a:hover span {
	text-decoration:none;
}
div.videoteaser-container ul li span.description{
	float:right;
	line-height:13px;
	padding:8px 6px 0 0;
	width:113px;
	color:#333333;
}
div.videoteaser-container ul li a span.description span {
	color:#FF5600;
}
div.videoteaser-container ul li span.description strong {
	border-bottom:1px solid #bfbfbf;
	display:block;
	margin:0 0 2px 0;
	padding:0 0 2px 0;
}
div.videoteaser div.player {
	position: fixed;
	display: none;
	padding: 45px;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 430px;
	margin-left: -365px;
	margin-top: -270px;
	background-color: black;
	z-index: 100;
}
div.videoteaser div.player div.close {
	position: absolute;
	color: #bbb;
	text-align: center;
	cursor: pointer;
}
div.videoteaser div.player div.close:hover {
	color: white;
	border-color: white;
}
div.videoteaser div.player div.close.icon {
	font-size: 20px;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
}
div.videoteaser div.player div.close.text {
	border: 1px solid #bbb;
	width: 80px;
	font-size: 10px;
	padding: 2px 0;
	margin-top: 13px;
	left: 50%;
	margin-left: -41px;
	bottom: 15px;
}
#videoteaserplayer {
	width: 640px;
	height: 390px;
}
div.videoteaser div.overlay {
	background-color: rgb(0, 0, 0);
	opacity: 0.80;
	-moz-opacity:0.80;
	filter: alpha(opacity=80);
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat:repeat;
	position:fixed;
	top: 0px;
	left: 0px;
}
/*													COLUMN 1				*/
/****************************************************************************/
div.col1{
	float:left;
	width:160px;
	margin:0;
}
div.col1 ul.nav{
	margin:0 0 13px 0;
}
div.col1 ul.nav li{
	border-bottom:1px solid #c1beba;
	padding:0 0 2px 0;
}
div.col1 ul.nav li a,
div.col1 ul.nav li a:visited{
	color:#2f2926;
	font-weight:700;
	font-size:13px;
}
div.col1 ul.nav li.active a{
	padding:0 0 0 8px;
	border-left:10px solid #f5f5f5;
}
/*					SOCIAL		*/
/********************************/
div.col4 div.reason_on_x ul{
	border-bottom:1px solid #ccc;
	padding:0 0 13px 0;
	margin:0 0 13px 0;
}
div.col4 div.reason_on_x ul li{
	margin:0 0 3px 0px;
}
div.col4 div.reason_on_x ul li a{
	font-size:12px;
	font-weight:700;
	background:#f0f0f0;
	display:block;
	padding:10px;
}
div.col4 div.reason_on_x ul li a:hover{
	background:#e8e8e8;
	text-decoration:none;
}
div.col4 div.reason_on_x ul li img{
	position:relative;
	top:3px;
	margin:0 5px 0 0;
}
div.col4 form#cse-search-box{
	margin-bottom:15px;
	background:#eaeaea;
	padding:6px 6px 7px 6px;
}
div.col4 form#cse-search-box input[type=text]{
	width:210px;
}
/*					SITE INFO	*/
/********************************/
div.col4 div.comments-questions{
	font-size:11px;
	color:#666;
	border-bottom:1px solid #ccc;
	padding:0 0 0px 0;
	margin:0 0 13px 0;
}
div.col4 div.comments-questions h2{
	font-weight:700;
	margin:0 0 3px 0;
}
div.col4 div.comments-questions p{
	margin: 0 0 20px 0;
}
div.col4 div.comments-questions a{
	font-weight:700;
}
/*					GET UPDATES	*/
/********************************/
div.reason-email-updates{
	font-size:11px;
	color:#666;
	font-weight:700;
	border-bottom:1px solid #ccc;
	padding:0 0 13px 0;
	margin:0 0 13px 0;
}
div.reason-email-updates h2{
	font-size:19px;
	padding-bottom:5px;
}
div.reason-email-updates input{
	margin:0 0 5px 0;
	width:292px;
	border:1px solid #8e8e8e;
	background:none;
	padding:4px;
}
/*													COLUMN 2				*/
/****************************************************************************/
* html body.home div.col2{
	width:472px;
}
body.home div.col2{
	float:left;
	width:457px;
	margin:0;
}
div.col2 div.featured-bg1{
	xbackground:url('../images/feat-repeat.jpg') left top no-repeat;
}
div.col2 div.featured{
	margin:0 23px 16px 0;
	background:url('../images/featured-bg.gif');
	font-size:14px;
	padding:0;
	min-height:20px;
	padding-bottom:14px;
}
div.col2 div.featured h2{
	margin:0 14px 0 14px;
	padding:5px 8px 5px 8px;
	background:#fff;
	line-height:1.4em;
}
div.col2 div.featured h2 a{
	color:#ff5600;
	font-size:20px;
	font-weight:700;
	display:block;
	margin-bottom:6px;
}
div.col2 div.featured h2 span.editor{
	font-size:100%;
}
div.col2 div.featured h2 span.editor a{
	color:white;
	font-weight:normal;
	font-size:inherit;
}
div.col2 div.featured h2 span.byline{
	display:block;
	margin:4px 0 0 0;
	font-size:15px;
}
div.col2 div.featured img{
	margin:14px 12px 0 14px;
	border:1px solid #fff;
}
div.col2 div.featured p{
	margin:0 14px 0 14px;
	font-family: "Georgia","georgia";
	font-size:15px;
	line-height:20px;
	background:#fff;
	padding:0 8px 9px 8px;
}
/*													COLUMN 2 SUB			*/
/****************************************************************************/
div.col2-subcolumn{
	float:left;
	width:665px;
}
div.col2-subcolumn div.topics{
	margin:0;
	font-size:13px;
	background:white url('../images/cccccc-border.gif') 324px 0 repeat-y;
	border-top:30px solid white;
}
div.col2-subcolumn div.topics div.topic {
	width:305px;
	margin:0 0 10px 0;
}
div.col2-subcolumn div.topics div.topic.odd{
	float:left;
}
div.col2-subcolumn div.topics div.topic.even{
	float:right;
	margin-right:17px;
}
div.col2-subcolumn div.topics h2{
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	border-top:3px solid #ff5600;
	padding-top:5px;
	margin:0 0 10px 0;
}
div.col2-subcolumn div.topics h2 a{
	font-size:16px;
	font-weight:700;
	padding:0 10px 0 0;
}
div.col2-subcolumn div.topics ul li{
	background:url(../images/gray-bullet.gif) 0px 6px no-repeat;
	padding:0 0 0 16px;
	margin:0 10px 12px 10px;
	line-height:16px;
}
div.col2-subcolumn div.topics ul li a{
	font-weight:700;
}
div.col2-subcolumn div.homepage.topics ul li a.title,
div.col2-subcolumn div.homepage.topics ul li span.authors {
	font-weight: bold;
}
div.col2-subcolumn div.homepage.topics ul li p {
	font-family: "Georgia","georgia";
}
/*													INDEX POSTINGS			*/
/****************************************************************************/
div.col2 div.post,
body.archives div.col2 div.post,
div.col2 div.feature{
	padding:0 0 7px 0;
	margin:0 15px 14px 0;
	font-size:12px;
	border-bottom:1px solid #cccccc;
}
body.home div.col2 div.post,
body.home div.col2 div.feature{
	padding:0 0 7px 0;
	margin:0 23px 14px 0px;
	font-size:12px;
	border-bottom:1px solid #cccccc;
}
body.donate.inner div.post{
	background:none;
}
body.inner div.col2 div.post.inner{
	padding:0 0 1px 0;
}
div.col2 div.feature {
	border: 1px solid #ccc;
	background:url(../images/feature-section-bg.gif);
	padding: 8px;
	margin-top: -15px;
}
div.col2 div.feature div#google_ads_div_homepage_featurewell{
	margin:0 auto;
	width:300px;
}
div.col2 div.feature a img{
	border:1px solid #fff;
	margin:0px 8px 0 0;
	float:left;
	border:1px solid #999999;
}
div.col2 div.post table{
	margin:0 0 20px 0;
}
div.col2 div.post table td{
	padding:0 0 5px 0;
}
div.col2 div.nav-links{
	padding:0;
	margin:0px 15px 20px 0px;
	font-size:18px;
	font-weight:700;
}
div.col2 div.nav-links div.nav-link.prev{
	float:left;
	width:200px;
	margin:15px 0 0 0;
}
div.col2 div.nav-links div.nav-link.next{
	float:right;
	width:200px;
	margin:10px 0 0 0;
}
div.col2 div.nav-links div.nav-link.next a{
	float:right;
}
div.col2 div.nav-links div.nav-link a{
	padding:6px 10px;
	background:#333;
	color:white;
}
body.home div.col2 div.post h2,
body.archives div.col2 div.post h2{
	font-weight:700;
	font-size:16px;
	margin: 0 0 8px 0;
	line-height:18px;
}
body.home div.col2 div.post h4,
body.archives div.col2 div.post h4{
	font-size:14px;
	line-height:14px;
	font-weight:normal;
	text-transform:none;
	padding:0 0 5px 0;
}
div.col2 div.post object{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
div.col2 div.post embed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span.pipe {
	color:#bcbcbc;
}
body.home div.archive p.blurb{
	display:block;
	font-size:13px;
	margin:0px 0px 8px 0px;
	line-height:1.3em;
}
body.home div.archive div.post.pic img{
	float:left;
	margin:0px 12px 0px 9px;
	padding:0px 0px 0px 0px;
	border:1px solid #666;
}
div.col2 div.post form label{
	font-weight:700;
	display:block;
	margin:0 0 0 0;
	padding:6px 0 0 0;
	font-size:12px;
}
body.donate div.col2 div.post form label{
	font-weight:normal;
	display:inline;
	margin:0 0 0 0;
	padding:0 5px;
	font-size:12px;
}
div.col2 div.post form input,
div.col2 div.post form select,
div.col2 div.post form textarea{
	margin:4px 0 10px 0;
}
div.col2 div.post form button{
	display:block;
}
/*													COLUMN 3				*/
/****************************************************************************/
* html div.col3{
	width:165px;
	margin:0 3px 0 0px;
}
div.col3{
	float:left;
	width:174px;
	margin:0 16px 0 15px;
}
/*													COLUMN 4				*/
/****************************************************************************/
* html div.col4{
	width:300px;
}
body div.col4{
	float:left;
	width:300px;
	margin:0 0 15px 18px;
}
body.home div.col4{
	top:0px;
}
/*													BASE SECTION STYLES		*/
/****************************************************************************/
div.section{
	border-bottom:1px solid #ccc;
	padding:0 0 13px 0;
	font-size:12px;
	margin:0 0 15px 0;
}
div.section ul li{
	background:url(../images/gray-bullet.gif) 0px 7px no-repeat;
	padding:0 0 0 12px;
	margin:0 0 7px 4px;
	line-height:1.4em;
	font-size:13px;
}
div.section ul li a{
	font-style:normal;
}
div.section h2{
	font-weight:700;
	font-size:14px;
	margin:0 0 2px 0;
}
div.section h2 a{
	color:#333;
}
/*					DOT TV		*/
/********************************/
* html div.section.dottv h2{
	background:url(../images/dottvheading.gif) no-repeat;
}
div.section.dottv h2{
	height:42px;
	background:url(../images/dottvheading.png) no-repeat;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.dottv h2 a{
	display:block;
	height:42px;
}
div.section.dottv a img{
	margin:0 0 12px 0;
}
div.section.dottv p{
	margin:0 0 5px 0;
}
div.section.dottv p a{
	font-weight:700;
}
/*					COVERS		*/
/********************************/
div.section.cover{
	text-align:center;
}
div.section.cover img{
	margin:0 0 6px 0;
}
div.section.cover h2{
	font-size:14px;
	font-weight:700;
	margin:0 0 6px 0;
}
/*					BRICKBAT	*/
/********************************/
div.section.brickbat h2{
	height:12px;
	background:url(../images/brickbatheading.gif) no-repeat;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.brickbat h2 a {
	display: block;
	height: 12px;
}
div.section.brickbat div.section ul li{
	background:url(../images/gray-bullet.gif) 0px 7px no-repeat;
}
body.brickbats div.post{
	border:none;
}
body.brickbats div.post div.social{
	margin:0 0 9px 0;
}
/*					40 YEARS	*/
/********************************/
div.section.fortyyears h2{
	height:63px;
	background:url(../images/fourtyyearsheading.gif) no-repeat;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.fortyyears p{
	margin:0 0 3px 0;
}

/*					HIT AND RUN	*/
/********************************/
* html div.section.hitandrun h2{
	background:url('../images/hitandrunheading.gif') no-repeat;
}
div.section.hitandrun h2{
	height:62px;
	background:url('../images/hitandrunheading.png') 7px 0 no-repeat;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.hitandrun h2 a{
	display:block;
	height:62px;
}

/*					STAFF REVIEWS*/
/********************************/
div.section.staffreviews h2 {
	background:url('../images/staff-reviews-heading.gif') no-repeat;
	height:42px;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.staffreviews h2 a{
	display:block;
	height:42px;
}

/*					REASON RUPE*/
/********************************/
div.section.pollblog h2 {
	background:url('../images/reasonrupe.gif') no-repeat;
	height:80px;
	text-indent:-99999px;
	margin:0 0 14px 0;
}
div.section.pollblog h2 a{
	display:block;
	height:80px;
}

div.post.blog.pollblog * {
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 23px;
}
div.post.blog.pollblog {
	border-color: #AEAEAE;
	border-style: solid;
	border-width: 4px 0;
	height: 80px;
	padding: 23px 0;
	position: relative;
	text-align: right;
}
div.post.blog.pollblog div.about {
	position: absolute;
	bottom: 5px;
	font-size: 10px;
}
div.post.blog.pollblog div.about * {
	font-size: 10px;
}
div.post.blog.pollblog div.about.latest {
	right:0;
}
div.post.blog.pollblog div.about.latest * {
	font-size: 13px;
}
div.post.blog.pollblog div.text {
	position: absolute;
	width: 463px;
	bottom: 18px;
	left: 178px;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 23px;
}
div.post.blog.pollblog h2.logo {
	position: absolute;
	top: 23px;
}

/*					ADS			*/
/********************************/
div.section.ads{
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:center;
	padding:0;
}
div.section.ads img{
	margin:0 0 15px 0;
}
div.section.ads div.left{
	width: 120px;
	float:left;
}
div.section.ads div.right{
	width: 160px;
	float:right;
}
div.col1 div.ad,
div.section.ads div{
	margin:0 0 15px 0;
}
div.col2 div.ad{
	color:#bbb;
	font-size:10px;
	margin:0 15px 14px 18px;
	text-align:center;
	border-bottom:1px solid #ccc;
	padding:0 0 14px 0;
}
/*													FOOTER					*/
/****************************************************************************/
div.footer{
	height:50px;
	background:white;
	border-top:20px solid #fff;
	text-align:center;
	font-size:12px;
	line-height:20px;
}
div.footer p{
	border-top:1px solid #ccc;
	padding:20px 0 10px 0;
}
div.footer span{
	padding:0 6px;
}
div.footer a{
	font-weight:700;
}
/*													INNER ELEMENTS			*/
/****************************************************************************/
body.inner,
body.archives{
	xbackground:url('../images/column-bg-nocol3.gif') center top repeat-y;
	min-height:400px;
}
body.inner div.container,
body.archives div.container{
	width:990px;
	margin:0 auto;
	position:relative;
	xbackground:url('../images/columns-nofeature-nocol3.gif') center center repeat-y;
	min-height:400px;
}
div.col2{
	float:left;
	width:656px;
	margin:0 0 0 3px;
}
h2.section-heading{
	text-transform:uppercase;
	color:#f99462;
	font-size:11px;
	margin:15px 15px 15px 18px;
	border-bottom:1px solid #ccc;
	padding:0 0 15px 0;
	font-weight:700;
}
h3.separator,
div.separator{
	font-size:16px;
	color:#333;
	display:block;
	margin:0px 15px 10px 0px;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	font-weight:700;
}
div.post h3.separator,
div.post div.separator{
	margin:0 0 10px 0;
}
h3.separator.rss{
	margin:0;
	border-bottom:none;
}
body.staff div.separator{
	padding:0 0 15px 0;
}
div.post.inner.issues h3.department{
	font-size:16px;
	color:#333;
	display:block;
	margin:0px 0px 10px 0px;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	font-weight:700;
}
div.separator a{
	padding:10px 8px;
	background:#333;
	color:white;
	float:left;
	margin:0 5px 0 0;
	display:block;
}
div.separator a.selected{
	padding:10px 8px;
	background:#ff5600;
	color:white;
	font-weight:700;
	float:left;
	margin:0 5px 0 0;
	display:block;
}
h3.separator a.selected:hover{
	text-decoration:none;
}
div.decadelist {
	margin-bottom: 5px;
	font-size:1.5em;
}
div.decadelist a{
	padding:0 5px 0 0px;
}
body.contributors div.yearlist{
	padding:0 0 10px 0;
}
div.yearlist{
	padding:0 0 16px 0;
}
div.yearlist a{
	padding:0 5px 0 0px;
}
ul.weeklist{
	margin:15px 0 0 0;
}
body.inner div.further-reading h3.separator{
	border:none;
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	border-top:3px solid #ff5600;
	padding-top:5px;
	margin:0px 15px 5px 0px;
}
body.inner div.further-reading h3.separator a{
	padding:0;
	background:none;
	float:none;
	display:inline;
	margin:0;
	color:#ff5600;
}
div.post ul,
div.post ol{
	margin-bottom:15px;
}
div.post ul li,
div.post ol li{
	background:url(../images/gray-bullet.gif) 0px 8px no-repeat;
	padding:0 0 0 16px;
	margin:0 0 5px 20px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
	font-size: 14px;
}
body.general-what-theyre-saying div.post ul li{
	margin:0 0 15px 0;
}
div.post ol{
	margin:0 0 15px 10px;
}
div.post ol li{
	background:none;
	list-style-type:decimal;
	font-size:14px;
}
body.general-submissions div.post ol li{
	font-family: "Georgia","georgia";
	margin:0 0 15px 20px;
}
dl.attachments dt {
	font-size:18px;
	line-height:20px;
	margin:0 0 10px 0;
}
dl.attachments dd {
	display: list-item;
	list-style: square inside url('../icons/filetypes/blank_16.png');
	margin-bottom:20px;
}
dl.attachments dd.mp3 {
	list-style-image: url('../icons/filetypes/mp3_16.png');
}
dl.attachments dd.pdf {
	list-style-image: url('../icons/filetypes/pdf_16.png');
}
/*				ARTICLE OPTIONS	*/
/********************************/
div.post-options{
	margin:0 0 60px 0;
	font-weight:700;
	font-size:11px;
	text-transform:uppercase;
	border-top:1px solid #ccc;
	padding:8px 0 0 0;
	text-align:right;
}
div.post-options a.printer{
	background:url('../images/print.gif') left 2px no-repeat;
	padding:5px 0 8px 22px;
}
div.post-options a.singlepage{
	background:url('../images/singlepage.gif') left 5px no-repeat;
	padding:5px 0 8px 17px;
}
div.post-options a.emailer{
	background:url('../images/mail1.gif') left 3px no-repeat;
	padding:5px 0 8px 22px;
}
div.post-options a.rss{
	background:url('../images/rss.gif') left 6px no-repeat;
	padding:5px 0 8px 17px;
}
div.post-options span.pipe{
	padding:0 6px;
}
/*					PAGINATOR	*/
/********************************/
div.paginator{
	margin:0 0 20px 0;
	font-size:15px;
	height:30px;
}
body.staff div.paginator{
	margin:0 0 15px 0;
	font-size:15px;
	height:30px;
}
div.paginator strong{
	float:left;
	margin:0 5px 0 0;
	display:block;
	padding:10px 4px 10px 0;
}
div.paginator a{
	padding: 10px 1px 0 8px;
	background:#333;
	color:white;
	float:left;
	margin:0 5px 0 0;
	display:block;
}
div.paginator b{
	padding: 10px 1px 0 8px;
	background:#ff5600;
	color:white;
	font-weight:700;
	float:left;
	margin:0 5px 0 0;
	display:block;
}
/*					BYLINES		*/
/********************************/
div.post p.byline{
	margin:0 0 18px 0;
	border-bottom:1px solid #ccc;
	padding:0 0 18px 0;
	font-size:17px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.post p.byline a{
	font-style:italic;
}
/*					INNER POSTS	*/
/********************************/
div#cse-search-results {
	border-bottom:1px solid #ccc;
	padding:0 0 17px 0;
	margin:0 0px 15px 0px;
	font-size:12px;
}
div#cse-search-results {
	border: none;
}
div.post img{
	margin:0 auto 20px auto;
	border: 1px solid #ccc;
	padding:1px;
	display:block;
}
div.post div.gallery img.mainimage {
	margin: 0;
	padding: 0;
	border: none;
	max-width: 100%;
}
div.post span.pic img {
	display: block;
	margin: 0;
	padding: 0;
}
div.post span.pic,
div.post img.pic {
	float:none;
	margin: 5px auto 20px auto;
	display:block;
}
div.post span.pic.right,
div.post img.pic.right {
	float:right;
	margin: 5px 0 20px 20px;
	margin-right: 0;
}
div.post span.pic.left,
div.post img.pic.left {
	float:left;
	margin-left: 0;
	margin-right: 20px;
}

h3.section-title a.feedlink img {
	margin:0;
	display:inline;
	vertical-align: super;
	border:none;
}
div.post h2{
	font-size:24px;
	line-height:28px;
	margin:0 0 10px 0;
	font-weight:700;
}
div.post h3{
	font-size:18px;
	line-height:20px;
	margin:0 0 10px 0;
}
body.inner div.post h2 a{
	color:#333;
}
body.inner div.post h2 span.editor a{
	color:white;
}
body.inner div.post h3{
	font-size:18px;
	line-height:23px;
	margin:0 0 10px 0;
}
div.post h4{
	font-size:14px;
	line-height:18px;
	margin:0 0 4px 0;
	font-weight:700;
	text-transform:uppercase;
}
div.post.inner div.entry{
	font-size:15px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
}
div.post p{
	margin:0 0 15px 1px;
	font-size:14px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
}
div.post blockquote{
	margin:7px 20px 7px 20px;
	font-size:14px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
	border-left:5px solid #e5e5e5;
	padding:0px 0px 0px 20px;
}
h2.section-title{
	font-size:24px;
	color:#333;
	display:block;
	margin:0 0 20px 0;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	font-weight:700;
}
h3.section-title{
	font-size:24px;
	color:#333;
	display:block;
	margin:0 15px 5px 0px;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	font-weight:700;
}
div.post h3.section-title{
	font-size:24px;
	color:#333;
	display:block;
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	border-bottom:1px solid #ccc;
	font-weight:700;
}
div.post.inner.department h3.section-title{
	margin:0 0 10px 0;
}
body.staff div.post ul li,
div.post.inner.browse-list ul li{ 
	margin:0 0 5px 10px;
	font-size:12px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	line-height:1.3em;
}
div.post.inner.browse-list ul li a{
	font-size:12px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
} 
div.post.inner.browse-list ul{
	margin:0 0 5px 0;
}
div.post p.add-comment{
	border-top:1px solid #ccc;
	font-size:12px;
	margin:0 0 6px 0;
	padding:6px 0 0 10px;
	clear:both;
}
div.post p.add-comment a{
	font-weight:700;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.post p.add-comment span.pipe{
	padding:0 4px;
}
div.post div.meta{
	clear: both;
	border-top:1px solid #ccc;
	margin:2px 0 0 0;
	background:url(../images/meta-bg.gif);
	padding-bottom:2px;
}
div.post div.meta p.donate-msg{
	margin:0;
	border-bottom:1px solid #ccc;
	padding:5px 0 5px 10px;
	font-size:11px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	font-weight:700;
}
div.post div.meta p.donate-msg.bottom {
	border-bottom: none;
}
div.col2 div.related-articles div.post{
	padding:0 0 5px 0;
}
div.col2 ul.additional-content{
	margin:0 15px 0px 0px;
}
body.staff div.col2 ul.additional-content{
	border-bottom:13px solid white;
}
div.col2 div.post ul.additional-content{
	margin:0;
}
div.col2 ul.additional-content li{
	background:url(../images/gray-bullet.gif) 0px 5px no-repeat;
	padding:0 0 0 16px;
	margin:0 0 10px 0;
	font-size:13px;
	line-height:15px;
}
div.related-2col{
	background:url('../images/cccccc-border.gif') 318px 0 repeat-y;
}
div.related-2col div.left{
	float:left;
	width:320px;
	margin:0;
}
div.related-2col div.right{
	float:right;
	width:325px;
	margin:0;
}
div.related-2col ul.additional-content li{
	margin:10px 15px 0px 0px;
}
/*					INNER SOCIAL*/
/********************************/
div.social{
	padding:8px 0 0 10px;
	border-bottom:1px solid #ccc;
}
body.blog div.social{
	padding:8px 0 0 10px;
	border-bottom:none;
}
div.player div.social{
	border:none;
	padding: 8px 10px;
	border-top: 1px solid #E6E6E6;
	background-color:#f3f3f3;
	height: 23px;
	width: 620px;
	position: absolute;
	bottom: 45px;
	left: 45px;
}
div.social span{
	font-weight:700;
	padding:0 10px 0 0;
	font-size:11px;
}
body div.social a{
	padding:1px 10px 5px 20px;
	font-size:11px;
	font-weight:700;
}
div.social a.stumble{
	background:url('../images/stumble.gif') 0 center no-repeat;
}
div.social a.digg{
	background:url('../images/digg.gif')  0 center no-repeat;
}
div.social a.reddit{
	background:url('../images/reddit.gif') 0 center no-repeat;
}
body div.social ul,
body.blog div.post div.social ul{
	height:12px;
}
body div.player div.social ul,
body div.player div.social ul li{
	height:23px;
}
body div.social ul li,
body.blog div.post div.social ul li{
	background:none;
	padding:0;
	margin:0;
	float:left;
	height:12px;
}
body div.social ul li ul{
	position:absolute;
	top:16px;
	left:0;
}
body div.social ul li.twitter,
body.blog div.post div.social ul li.twitter{
	margin:0 20px 0 0;
}
body div.social ul li.facebook iframe,
body.blog div.post div.social ul li.facebook iframe{
	width:395px !important;
	height:24px !important;
	position:relative;
	top:-2px;
}
body div.player div.social ul li.facebook iframe {
	top: 0;
}
body div.social ul li.twitter iframe,
body.blog div.post div.social ul li.twitter iframe{
	width:110px !important;
	border-right:1px solid #cccccc;
}
body div.player div.social ul li.twitter iframe{
	border-right:1px solid #bdbdbd !important;
	height:22px !important;
}
body div.social ul li.moresharing{
	position:relative;
}
body div.social ul li.moresharing div{
	background:url('../images/moresharing.gif');
	width:93px;
	height:20px;
	text-indent:-9999px;
}
body div.social ul li.moresharing ul{
	display:none;
	border:1px solid #cccccc;
}
body div.social ul li.moresharing:hover ul{
	display:block;
	background:#fff;
	padding:0px 8px 16px 8px;
	height:55px;
}
body div.player div.social ul li.moresharing:hover ul{
	padding:8px 8px 16px 8px;
	height:55px;
}
body div.social ul li.moresharing ul li a{
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	font-size:12px;
	width:100px;
	display:block;
}
body div.social ul li.moresharing ul li,
body.blog div.social ul li.moresharing ul li{
	height:22px;
}
/*															COMMENTS		*/
/****************************************************************************/
div.com-block{
	border-top:1px solid #ccc;
	padding:9px 0 0 0;
	margin:0 15px 0px 0;
}
div.com-block h2.commentheader{
	margin:0 0 2px 0;
	font-size:14px;
	border:none;
}
div.com-block.commentpreview {
	border: none;
	padding: 3px 9px 0 9px;
	margin: 0 0 3px 0;
	background-color: #e9e8e4;
}
div.com-block.commentpreview h2.commentheader {
	padding: 0;
}
div.com-block h2.commentheader a{
	/*
	color:#333;
	*/
}
div.com-block h2.commentheader span.pipe{
	padding:0 6px;
}
div.com-block p{
	margin:0 0 15px 0;
	line-height:1.5em;
	font-family: "Georgia","georgia";
	font-size:14px;
}
div.com-block li{
	background:url(../images/gray-bullet.gif) 0px 5px no-repeat;
	padding:0 0 0 16px;
}
div.com-block blockquote{
	margin:4px 20px 4px 20px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
	border-left:5px solid #e5e5e5;
	padding:0px 0px 0px 20px;
	font-size:14px;
}
div.com-block.depth1,
div.com-block.linkback {
	margin-left: 18px;
}
div.com-block.depth2 {
	margin-left: 48px;
}
div.com-block.depth3 {
	margin-left: 78px;
}
div.com-block.depth4 {
	margin-left: 108px;
}
div.com-block.depth5 {
	margin-left: 138px;
}
div.com-block.depth6 {
	margin-left: 168px;
}
div.com-block.depth7 {
	margin-left: 198px;
}
div.com-block.depth8 {
	margin-left: 228px;
}
div.com-block.depth9 {
	margin-left: 258px;
}
div.com-block.depth10 {
	margin-left: 288px;
}
div.leave-comment{
	margin:0 15px 30px 0px;
}
div.com-block div.leave-comment{
	margin:10px 0 0 0;
}
div.leave-comment label,
.emailer-form label{
	display:block;
	margin:5px 10px 2px 0px;
	font-size:10px;
	text-transform:uppercase;
}
div.leave-comment input,
form.emailer-form input{
	display:block;
	width:230px;
	margin:0px 10px 10px 0px;
	border:1px solid #b7b7b7;
	padding:2px;
	font-size:14px;
}
div.leave-comment div.submit {
	margin-top: 9px;
}
div.leave-comment div.submit input.submit {
	float: left;
}
div.post.inner form.emailer-form p{
	font-size:12px;
	padding:0;
	margin:0;
}
div.leave-comment h2{
	font-size:22px;
	line-height:24px;
	margin:0 0 10px 0;
	font-weight:700;
	border-top:2px solid #b7b7b7;
	padding:10px 0 0 0;
}
div.leave-comment input.submit,
form.emailer-form input.submit{
	background:#333;
	display:block;
	width:auto;
	text-align:center;
	color:white;
	padding:3px 10px 4px 10px;
	position:static;
	border:none;
	font-size:11px;
	font-weight:700;
}
div.commentactions{
	font-size:10px;
	font-weight:700;
	padding:0 0 9px 0;
}
div.commentactions a{
	border-left:1px solid #cccccc;
	background:none;
	color: #ff5600;
	text-decoration: none;
	font-size:10px;
	font-weight:700;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	padding:0 9px;
}
div.com-block button.submit{
	background:none;
	color: #ff5600;
	text-decoration: none;
	font-size:10px;
	font-weight:700;
	border:none;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	padding:0 0 0 0;
	position:relative;
	top:2px;
}
html>/**/body div.com-block button.submit{
	background:none;
	color: #ff5600;
	text-decoration: none;
	font-size:10px;
	font-weight:700;
	border:none;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	padding:0 5px 0 0;
}
div.leave-comment textarea,
form.emailer-form textarea{
	display:block;
	width:330px;
	margin:0px 10px 5px 0px;
	height:100px;
	border:1px solid #b7b7b7;
	padding:2px;
	font-size:14px;
}
div#commentcontrol{
	background:#ff5600;
	font-size:15px;
	padding:8px 0;
	margin:0px 15px 15px 0px;
	color:white;
}
div#commentcontrol a{
	color:white;
	padding:0 14px;
}
div#commentcontrol a.leave-comment{
	background:url('../images/white-com-bubble.gif') right 3px no-repeat;
	padding:0 35px 0 14px;
}
/*															CONTRIBUTORS	*/
/****************************************************************************/
div.archivelinks{
	margin:20px 15px 15px 0;
	font-size:12px;
}
div.archivelinks span{
	padding:0 6px;
}
ul.contributors{
	margin:0px 15px 15px 0px;
}
ul.contributors li a{
	font-size:12px;
}
div.post.inner.department ul li{
	font-size:12px;
}
/*															BLOG INDEX		*/
/****************************************************************************/
body.blog div.container{
	width:990px;
	margin:0 auto;
	position:relative;
	background:url('../images/columns-nofeature-nocol3.gif') center center repeat-y;
	min-height:400px;
}
div.section.hitandrunarchives{
	display:none;
}
div.section.hitandrunarchives h2{
	font-size:15px;
	font-weight:700;
	margin:0 0 8px 0;
	padding:0 0 4px 0;
	border-bottom:1px solid #ccc;
}
div.section.hitandrunarchives div.inner{
	background:#f3f3f3 url(../images/postfooterbg.jpg) right top no-repeat;
	padding:7px;
	border:1px solid #ccc;
}
div.section.hitandrunarchives form{
	margin:0 0 5px 0;
}
div.section.hitandrunarchives select{
	width:100px;
}
div.section.hitandrunarchives a.rss{
	background:url('../images/rss.gif') left 7px no-repeat;
	padding:5px 0 8px 17px;
}
body.blog div.post{
	padding:0;
	margin:0 15px 30px 0px;
}
div.post.blog h4{
	margin:0 0 10px 0;
	font-size:15px;
}
body.blog div.post ul{
	margin:0 0 15px 0;
}
body.blog div.post ul li{
	background:url(../images/gray-bullet.gif) 0px 6px no-repeat;
	padding:0 0 0 16px;
	margin:0 10px 12px 10px;
}
/*															ISSUES			*/
/****************************************************************************/
body.issues div.post{
	border:none;
	margin:0 16px 20px 0px;
	padding:0;
}
/*															ARCHIVES		*/
/****************************************************************************/
body.archives ul.weeklist{
	margin:20px 0 20px 0;
}
body.archives h3.separator{
	margin:0px 15px 10px 18px;
	border:none;
	border-top:5px solid #ff5600;
	padding:2px 0 0 0;
	text-transform:uppercase;
	font-size:15px;
}

body.archives div.post{
	padding-bottom:4px;
	margin-bottom:0px;
}
body.archives div.post.weekpicker{
	border:none;
}
body.archives div.post h2{
	font-size:16px;
	margin:2px 0 0px 0;
}
body.archives div.post h4{
	margin:0 0 5px 0;
}
body.archives div.post div.post p{
	display:none;
}
body.archives div.post p.blurb{
	display:block;
	font-size:13px;
	margin:0 0 4px 0;
}
body.archives div.post p.meta{
	border:1px solid;
}
div.post p.meta {
	font-size:13px;
	background-color:transparent;
	border: none;
}
/*													TOPICS					*/
/****************************************************************************/
div.post.inner.department{
	border-bottom:1px solid #ccc;
	padding:0 0 6px 0;
	margin:20px 15px 15px 18px;
	font-size:12px;
}
div.post.inner.department ul li a{
	font-weight:700;
}
div.post.inner.department ul li{
	background:url(../images/gray-bullet.gif) 0px 5px no-repeat;
	padding:0 0 0 16px;
	margin:0 0 10px 0;
}
/*													ISSUES					*/
/****************************************************************************/
div.post.inner.issues{
	padding:0 0 6px 0;
	margin:20px 15px 15px 0px;
	font-size:12px;
	background:none;
}
/*													COVERS					*/
/****************************************************************************/
div.post.year-listing{
	padding:0 0 6px 0;
	margin:20px 15px 15px 0px;
	font-size:12px;
}
/*													STAFF					*/
/****************************************************************************/
body.staff h3.section-title{
	margin-top:20px;
	margin-bottom:15px;
}
h3.staff-name{
	font-size:16px;
	color:#333;
	display:block;
	margin:0 0 10px 0;
	font-weight:700;
}
body.staff div.post h4{
	font-size:11px;
	line-height:14px;
	margin:0 0 6px 0;
	font-weight:700;
	text-transform:uppercase;
}
body.staff div.post p.email{
	margin:0 0 6px 0;
	font-size:14px;
}
body.staff div.post img.bio-photo{
	float:right;
	border:1px solid #ccc;
	padding:2px;
	margin:0 0 15px 20px;
}
div.post ul.feedlist li{
	margin:5px 0 5px 3px;
	background:none;
	padding:0;
}
div.post.inner ul.feedlist li a{
	background:url('../images/rss.gif') left 9px no-repeat;
	padding:5px 0 8px 22px;
	font-size:12px;
}
/*													PEOPLE					*/
/****************************************************************************/
div.post.inner.bio{
	xborder-bottom:1px solid #ccc;
	padding:0 0 6px 0;
	margin:20px 15px 15px 0px;
	font-size:12px;
}
div.bio-title{
	font-size:14px;
	line-height:18px;
	margin:0;
	font-weight:700;
	text-transform:uppercase;
}
div.bio-text{
	padding:8px 0 10px 0;
}
div.bio-text h3{
	font-size:14px;
	line-height:18px;
	margin:0 0 4px 0;
	font-weight:700;
	text-transform:uppercase;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.bio-text div.bio{
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
/*													COVERS					*/
/****************************************************************************/
body.covers div.container{
	width:990px;
	margin:0 auto;
	position:relative;
	min-height:400px;
}
body.covers div.col2 ul li{
	float:left;
	width:150px;
	padding:0 5px 0px 0;
	text-align:center;
	margin:0 0 10px 0;
	min-height:250px;
	line-height:14px;
}
body.covers div.col2 ul:after{
	content:'.';
	display:block;
	clear:both;
	font-size:0;
	height:0;	
}
body.covers h3.separator{
	font-size:16px;
	color:#333;
	display:block;
	margin:0px 15px 0px 0px;
	padding:0 0 2px 0;
	border-bottom:none;
	font-weight:700;
	border-bottom:1px solid #ccc;
}
body.covers div.post.inner.issues{
	padding:0 0 6px 0;
	margin:10px 15px 0px 0px;
	font-size:12px;
	background:none;
}
div.post.inner.issues.index img.issue-cover-sm {
	height: 196px;
	width: 149px;
	display:block;
	margin: 0 0 5px 0;
	border:1px solid #ccc;
	padding:1px;
}
body.covers div.post.inner.issues.index ul li{
	background:none;
	margin:0 50px 0 0; 
}
body.covers div.post{
	border-bottom:none;
}
div.issue-cover {
	float:right;
	text-align:center;
	background-color: white;
	padding: 0 0 15px 25px;
}
div.issue-cover img {
	display:block;
	margin: 0 auto;
	border:1px solid #ccc;
	padding:2px;
}
div.issue-cover a{
	font-size: 10px;
}
div.post.inner ul.issue-archive li{
	margin:0 0 15px 0;
	padding-bottom: 9px;
	background:url(../images/gray-bullet.gif) 0px 9px no-repeat;
}
div.post.inner ul.issue-archive li h3{
	color:#333;
	display:block;
	margin:0 0 5px 0;
	font-weight:700;
	line-height:22px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.post.inner ul.issue-archive li h3 a{
	font-size:16px;
}
div.post.inner ul.issue-archive li p.byline{
	margin:0 0 5px 0;
	border-bottom:none;
	padding:0;
	font-size:14px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.post.inner ul.issue-archive li p {
	margin:0;
}
/*													LITTLE FEATURE BOXES	*/
/****************************************************************************/
div.feature img{
	background-color: none !important;
	display:block;
}
div.feature h2{
	margin:0 0 4px 0px;
	color: #ff5600;
	line-height:18px;
	font-size: 16px;
	font-weight: bold;
}
div.feature p{
	font-size: 12px;
	line-height:14px;
	margin:0px;
}
div.post ul.rsslist {
	margin-bottom: 1em;
}
div.post ul.rsslist li {
	list-style: none inside;
	margin: 0 0 2px 0;
	background: none;
	padding-left: 0;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
div.post ul.rsslist li a{
	font-size:13px;
}
div.post ul.rsslist li img {
	margin: 0;
	position:relative;
	top:3px;
	border:none;
	display:inline;
}
/*																DIGG WIDGET	*/
/****************************************************************************/
div#digg-widget-container ul{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background:url(../images/feature-block-bg.jpg);
	padding:10px 10px 5px 8px;
}
div#digg-widget-container{
	background:url(../images/digg-heading.gif) no-repeat;
	padding:46px 0 0 0;
}
div.diggwidget h2{
	position:absolute;
	left:-9999999px;
}
div#digg-widget-container ul li{
	margin:0 0 10px 0;
	padding-left: 12px;
	background:url(../images/digg-bullet.gif) 0px 7px no-repeat;
	font-size:12px;
}
div#digg-widget-container a{
	display:block;
	text-decoration:none;
	font-weight:700;
}
div#digg-widget-container a,
div#digg-widget-container a span{
	color: #333;
	font-size:10px;
	text-decoration:none;
}
div#digg-widget-container a:hover{
	text-decoration: underline;
}

div#digg-widget-container h3,
div#digg-widget-container h3 a{
	border:none;
	font-size:12px;
	color: #ff5600;
	line-height:16px;
}
* html div.donate-header{
	width:790px;
}
div.donate-header{
	position:relative;
	background:url(../images/support-reason-bg.jpg) no-repeat 0px 0px;
	height:202px;
	width:800px;
}
div.donate-header *{
	position:absolute;
	left:-999999px;
}
* html table.normalText{
	width:790px;
	background:white;
}
table.normalText{
	width:800px;
}
table.normalText p{
	font-size:12px;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
table.normalText tr.amounts td{
	padding:10px 0px;
}
table.normalText tr.amounts td input{
	margin:0;
	padding:0;
}
* html table.normalText tr td.col1{
	text-align:right;
	width:30%;
	padding:7px 10px 7px 0px;
}
table.normalText tr td.col1{
	text-align:right;
	width:30%;
	padding:7px 10px 7px 0px;
}
html>/**/body table.normalText tr td.col1{
	text-align:right;
	width:170px;
	padding:7px 10px 7px 0px;
}
table.normalText tr td.col2 div{
	padding:4px 0px 7px 0px;
	border-bottom:1px solid #eee;
	margin:0px 0px 5px 0px;
}
table.normalText td.radio-inputs input{
	margin:0px 0px 0px 10px;
}
table.normalText tr td textarea{
	margin:5px 0px 0px 0px;
}
div.support-container{
	width:300px;
	margin:0 auto;
}
div.support-container .amz-button{
	position:relative;
	top:10px;
}
div.prevnext {
	text-align: center;
	font-size: 12px;
	margin-bottom: 14px;
	font-weight: bold;
}
div.prevnext div{
	display:inline;
}
div.prevnext span.pipe{
	padding:0 6px;
}
body.error-404 div.container,
body.error-404 div.container div.container-inner{
	background:none;
}	
div.error{
	width:985px;
	margin:0 auto 0 auto;
	padding:130px 0 0 0;
}
div.error h2{
	font-size:34px;
	line-height:28px;
	margin:0 0 10px 0;
	font-weight:700;
}
div.error p{
	margin:0 0 15px 0;
	font-size:15px;
	line-height:1.5em;
	font-family: "Georgia","georgia";
}
span.error,
ul.error li{
	background:red;
	color:white;
	font-weight:700;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	padding:5px 10px;
	display:block;
	margin:5px 0 10px 0;
	font-size:13px;
}
span.error a,
ul.error li a {
	color:white;
	text-decoration:underline;
}
#outloudopinion {
	border-bottom:1px solid #cccccc;
	padding:0 0 7px 0;
	margin:0 0 10px 0;
	position:relative;
	top:-11px;
	min-height:35px;
}
#outloudopinion .downloadlink {
	font-size: 0.75em;
	font-weight: bold;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
	margin: 0px 0 0 32px;
}
div.post #outloudopinion img {
	position: relative;
	top: 6px;
	padding: 0;
	margin: 0 3px 0 0;
	border: none;
	display:inline;
}
#outloudopinion p {
	margin: 0;
	font-weight: bold;
	float:left;
	font-family:"ff-meta-web-pro-1","ff-meta-web-pro-2","Trebuchet MS",sans-serif;
}
#outloudopinion span.media-type{
	color:#818181;
	font-weight:normal;
}
#outloudaudio{
	margin: 6px 0 4px 16px;
	display: inline;
}
div.post span.pic.left{
	float:left;
	display:block;
	width:300px;
	margin:0 20px 10px 0;
}
div.post span.pic.left img{
	display:block;
	margin:10px auto 10px auto;
}
div.post span.pic.left span.caption{
	float:left;
	font-size:11px;
	clear:left;
	line-height:15px;
}
/*															3D Promotion	*/
/****************************************************************************/
@font-face {
	font-family: 'FeastofFleshBBRegular';
	src: url('/media/fonts/feasfbrg-webfont.eot');
	src: local('☺'), url('/media/fonts/feasfbrg-webfont.woff') format('woff'), url('/media/fonts/feasfbrg-webfont.ttf') format('truetype'), url('/media/fonts/feasfbrg-webfont.svg#webfontjhiqvWcX') format('svg');
	font-weight: normal;
	font-style: normal;
}
body.general-see-reason-in-3d div.inner h2 {
	font-weight: normal;
	font-style: normal;
	font-size: 60px;
	line-height:normal;
	font-family: 'FeastofFleshBBRegular', sans-serif;
	font-size-adjust: 0.71;
}
body.general-see-reason-in-3d div.inner h3 strong {
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height:normal;
	font-family: 'FeastofFleshBBRegular', sans-serif;
	font-size-adjust: 0.71;
}
/*															Column re-org	*/
/****************************************************************************/

/*													DROPDOWN NAV STYLE		*/
/****************************************************************************/
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
}
.sf-menu {
	line-height:1.0;
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:10em; /* left offset of submenus need to match (see below) */
	z-index:999;
}
.sf-menu ul li {
	width:100%;
}
.sf-menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	position:relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:999;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:10em; /* match ul width */
	top:0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:left;
	margin-bottom:1em;
	height:40px;
}
.sf-menu a {
	padding:.75em 1.2em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#fff;
}
.sf-menu li {
	background:#000;
	border-right:1px solid #3c3c3c;
}
.sf-menu li li {
	color:#fff;
	background:#e65600 url(../images/nav-list-item.gif) no-repeat 10px 13px;
	font-size:12px;
	border:none;
}
.sf-menu li li li {
	color:#fff;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li.active a,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:#fff;
	outline:0;
	background:#e65600;
}
.sf-menu li li a{
	padding-left:2em;
}
.sf-menu li li a:hover{
	background:#b94600 url(../images/nav-list-item.gif) no-repeat 10px 13px;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right:2.25em;
	min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:.75em;
	top:1.05em; /* IE6 only */
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:.8em;
	background-position:0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
/*													MORE RE-ORG STYLES		*/
/****************************************************************************/
div.topmainnav{
	height:40px;
	position:absolute;
	top:33px;
	left:0;
	background:#000;
	width:985px;
}     
a.homelink{
	display:block;
	width:240px;
	height:90px;
	position:absolute;
	top:78px;
	left:0;
	z-index:2;
}
div.col1{
	display:none;
}
/*													MOST POPULAR STOIRIES	*/
/****************************************************************************/
div.popularstories.section{
	background:#c2c2c2;
	padding-bottom:0;
	border:none;
}
div.popularstories h2{
	color:#fff;
	padding:10px;
	font-size:19px;
}
div.popularstories ul.nav{
	height:34px;
	background:#c2c2c2 url('../images/2px-999999-border.gif') left bottom repeat-x;
}
div.popularstories ul.nav li{
	float:left;
	height:32px;
	background:none;
	margin:0 4px 2px 0;
	padding:0;
	xborder-top:1px solid #c2c2c2;
}
div.popularstories ul.nav li.active{
	border-top:2px solid #999999;
	border-left:2px solid #999999;
	border-right:2px solid #999999;
	border-bottom:1px solid #fff;
	position:relative;
	top:-1px;
}
div.popularstories ul.nav li a{
	display:block;
	background:#b0b0b0;
	color:#797979;
	height:32px;
	line-height:38px;
	padding:0 15px;
}
div.popularstories ul.nav li.active a,
div.popularstories ul.nav li a:hover{
	display:block;
	background:#fff;
	color:#606060;
	height:32px;
	line-height:38px;
	padding:0 15px;
	text-decoration:none;
}
div.popularstories ul.nav li.active a{
	line-height:38px;
}
div.popularstories ul.stories{
	background:#fff;
	border-left:2px solid #999999;
	border-right:2px solid #999999;
	border-bottom:1px solid #999999;
	padding:13px 20px 10px 15px;
}
div.rssbar a{
	display:block;
	color:#737373;
	font-weight:bold;
	background:url(../images/rss_16.gif) no-repeat 5px 10px;
	padding:7px 7px 7px 30px;
}
#google_ads_div_homepage_featurewell img {
	float: none;
}
p.disclaimer {
	color: #666666;
	font-size: 11px;
	margin: 0 15px 15px 0;
}
div#google_ads_div_homepage_featurewell_ad_container *,
div#google_ads_div_homepage_featurewell_ad_container * *,
div#google_ads_div_homepage_featurewell_ad_container * * *,
div#google_ads_div_homepage_featurewell_ad_container div *,{
	display:block !important;
	margin: 3px auto 0 auto !important;
	display:none !important;
}
div.feature div *{
	display:block !important;
	margin: 3px auto 0 auto !important;
}
div.feature div script{
	visibility:hidden;
}