<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - The Data Collective</title>
    <meta charset=UTF-8>
    <link rel='stylesheet' href='{{STATIC_URL}}pageset/common.css' type='text/css' />
  </head>
  <body class='wsite-page-discuss'>
    <div id="centrecontainer">

      <div id="outercontainer">

        <div id="header">
          <div id="navcontainer">
            <ul id="navlist">
              {% for other_page in pages %}
              <li {% if page.filename == other_page.filename %}
              id=active
              {% endif %}>
              <a href="{{ other_page.filename }}">
                {% if other_page.short_title %}
                {{ other_page.short_title }}
                {% else %}
                {{ other_page.title }}
                {% endif %}
              </a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div id="container">

          <div id="containerleft" class="wsite-header">
            <h2><span style="visibility:hidden;">The Data Collective</span></h2>
          </div>
          <div id="containerright">
            <div id='wsite-content'>
              {% autoescape off %}
              {{ page.content }}
              {% endautoescape %}
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7870337-1']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
