PATH="/usr/bin:/usr/sbin:/bin"
MAILTO="webmaster@datacollective.org"

# Syntax
#   Ranges: 8-11 means 8,9,10,11
#   Lists: 8,9,12
#   Step: 1-9/2 means 1,3,5,7,9
#
# If both day of month and day of week aren’t *, then the command runs if
# either matches.
#
#	minute, 0-59
#		hour 0-23
#			day of month 1-31
#				month 1-12
#					day of week 0-7, Sunday is 0 and 7
#						command, must escape % character
	0	3	*	*	*	dc/scripts/archivelogs
        0       0       *       *       *       dc/scripts/backup-databases
