{% extends "base.html" %}
{% load url from future %}

{% block title %}404 Not Found{% endblock %}

{% block content %}

<h1>Not Found</h1>

<p>
Sorry, but the requested URL <tt>{{ request_path }}</tt> was not found.
</p>

{% if exception %}
<p>
In an attempt to be helpful, the web server included the error message:
</p>

<span class='error_message'>
  {{ exception.message }}
</span>
{% endif %}

{% if referer %}
<p>
The people responsible for this have been notified.
</p>
{% endif %}

{% endblock %}
