{% extends "base.html" %}
{% load url from future %}

{% block title %}About{% endblock %}

{% block head_extra %}
    <meta property="og:title" content="Data Collective">
    <meta property="og:description" content="We started Data Collective because it's way too hard to get simple
numerical facts about the world.  In sports or business, you could never understand what's going on without the basic stats.  We feel the same way about the rest of life.">
    <meta property="og:image" content="https://datacollective.org">
{% endblock %}

{% block header_link_home %}{% endblock %}
{% block header_link_home_closing %}{% endblock %}


{% block content %}

<p>
<br>
<br>
Welcome to Data Collective.  We're a startup non-profit.  We build and support technology to help people find, understand, and share data, advancing the knowledge and education of citizens everywhere.
</p>

<p>
Our first project is a chart-making tool.  To get started, <a style="color:#000000" href="{% url 'registration.views.register' %}">register</a>, get some data, and <a style="color:#000000" href="{% url 'chart.views.new' %}">make a chart</a>!
</p>
<br>
<br>

<br>
<h1>USE OUR CHART MAKING TOOL</h1>
<br>
<p>Charts on the web today are just pictures.</p>
<p>
Data Collective charts are better, because they're:
<ul>
<li>Interactive, letting your readers inspect individual data points with their mouse</li>
<li>Instantly shareable, increasing your readership</li>
<li>Linked to their underlying data, which gives you authority.  It shows you're not afraid to cite your sources and let people check your work.  (Also, this makes the internet better, creating links to meaningful data, which is our hidden agenda)</li>
</ul>
</p>
<p>Here's a <a target="_blank" href="http://blog.datacollective.org/2011/07/spending-is-bad-but-its-not-that-bad/">blog post</a> that uses a Data Collective chart.
</p>
<p>Every Data Collective chart has a home page, for example <a target="_blank" href="https://datacollective.org/chart/5">this<a/>.  The home page is where people can read the details of where the data came from and how it was massaged.  It also where people can discuss the chart.</p>

<p>
Here's a video showing how to make a Data Collective chart:
</p>
<div align="center">
<iframe src="http://player.vimeo.com/video/32801981?title=0&amp;byline=0&amp;portrait=0" width="600" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

<p>
<br>
To get started, <a style="color:#000000" href="{% url 'registration.views.register' %}">register</a>, get some data, and <a style="color:#000000" href="{% url 'chart.views.new' %}">make a chart</a>!
</p>

<br>
<h1>MISSION</h1>

<p>
Data Collective is a startup non-profit.  We build and support technology to help people find, understand, and share data, advancing the knowledge and education of citizens everywhere.
</p>

<p>
We started Data Collective because it's way too hard to get simple
numerical facts about the world.  In sports or business, you could
never understand what's going on without the basic stats.  We feel the
same way about the rest of life.
</p>

<p>
We are non-profit and strive to be non-partisan and unbiased.
</p>

<br>
<h1>FOLLOW US</h1>
<p>
Follow us by email.  We won't overshare!</p>
<p>Just an update now and then with the latest and greatest.
<form style="display:inline" action="//tinyletter.com/datacollective" method="post" target="popupwindow" onsubmit="window.open('//tinyletter.com/datacollective', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" style="width:280px; display:inline" name="emailaddress"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>
</p>

<br>
<h1>WHO WE ARE</h1>

<!-- in alphabetical order by first name -->
<p>The Data Collective team is Andrew Neitsch, <a target="_blank" href="http://about.me/dsjoerg">David Joerg</a> and Mark Smith.  <a href="{% url 'jobs' %}">Join us</a>!</p>
<br>
{% endblock %}

{% block about_link %}<a href="#top">About</a>{% endblock %}
