{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %} {% endblock %} - Data Collective</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base_speed.css">
    {% block head_extra %}
    {% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    {{ ANALYTICS }}
</head>
  <body style="background-color:#fffafc">
    <a name="top"></a>
    <div id="container" style="width:100%; background-color:#fffafc">
      <div id="main" style="width:800px; margin:auto">
        {% if user.username %}
          <div id="greeting">HELLO {{ user.username }} !!
          &nbsp;
          <a style="color:#000000" href="{% url 'chart.views.charts_by_user' user.username %}">my charts</a>
          &nbsp;
          <a style="color:#000000" href="{% url 'chart.views.new' %}">new chart</a>
          &nbsp;
          <a style="color:#000000" href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
          </div>
        {% else %}
          <div id="greeting">
          <a style="color:#000000" href="{% url 'django.contrib.auth.views.login' %}">login</a>
          &nbsp;
          <a style="color:#000000" href="{% url 'registration.views.register' %}">register</a>
          </div>
        {% endif %}

        {% block header_link_home %}
        <a class='header_link_home' href="/">
        {% endblock %}
        <div class="titlediv">
          <div class="title" style="background-image:url(&#39;{{ CDN_URL }}images/neitsch_quilt_partial.png&#39;); background-color:#2d5344; color:#550000; font-family:ChunkFiveRegular; font-size:3em; max-width:750px">
          <span style="position:relative; top:5px; left:5px">Data Collective</span>
          </div>
        </div>
        {% block header_link_home_closing %}</a>{% endblock %}

{% block content %}
{% endblock content %}


        <div class="titlediv">
          <div class="title" style="background-color:#2d5344; color:#ffffff; width:800px; font-size:1.0em; font-family:ChunkFiveRegular; padding-top:1em; padding-bottom:1em">
            <span class="bottom_nav">{% block about_link %}<a href="{% url 'about' %}">About</a>{% endblock %}</span>
            <span class="bottom_nav"><a href="http://blog.datacollective.org">Blog</a></span>

            <span style="float:right">©2011 Data Collective</span>
          </div>
        </div>
      </div>
    </div>
</body></html>
