<!DOCTYPE html>
<html lang=en>
  <head>
    <title>{{ chart.title }}</title>
    <meta charset='UTF-8'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $("#datafrom").hide();
        $("#postedby").hide();

        $("#datafromhead").click(function() {
          $("#datafrom").slideToggle(400);

          return false;
        });

        $("#postedbyhead").click(function() {
          $("#postedby").slideToggle(400);
          return false;
        });

      });
    </script>
    <style>
      body {
        font: 100% verdana;
        margin:0;
        padding:0;
      }
      .title {
        background-color:#ffde00;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size:1.5em;
        border-radius:15px;
      }
      .titlediv {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      }
      .bottom_nav {
        padding-left: 1em;
        padding-right: 1em;
      }
      #chart_wrapper {
        padding: 0px;
        margin: 0px;
        width: 600px;
        height: 350px;
        overflow: hidden;
      }
      #disqus_wrapper {
        padding:0.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        max-width:750px;
        background-color:#eeffee;
        border-radius:15px;
        border:2px solid #ccddcc;
        /*  outline:#ddeedd solid medium; */
      }
    </style>
  </head>
  <body style="background-color:#fffafc">

    <!-- DJ: amcharts stuff taken from line.html -->
    <!-- amcharts script-->
    <!-- swf object (version 2.2) is used to detect if flash is installed and include swf in the page -->
    <script type="text/javascript" src="/static/amcharts/flash/swfobject.js"></script>

    <!-- following scripts required for JavaScript version. The order is important! -->
    <script type="text/javascript" src="/static/amcharts/javascript/amcharts.js"></script>
    <script type="text/javascript" src="/static/amcharts/javascript/amfallback.js"></script>
    <script type="text/javascript" src="/static/amcharts/javascript/raphael.js"></script>

    <div id="container" style="width:100%; background-color:#fffafc">
      <div id="main" style="width:800px; margin:auto">
        <div class="titlediv">
          <div class="title" style="background-color:#990031; color:#ffffff; font-size:2em; max-width:750px;">The Data Collective</div>
        </div>
        <div class="titlediv" style="margin-bottom:0px">
          <span class="title">{{ chart.title }}</span>
        </div>

        <div id=chart_and_addthis_wrapper style="width:600px; margin-bottom:50px">
          <div id=chart_wrapper style="border-radius:15px; border:6px solid #ffde00; padding: 8px">
            <div id="chartdiv" style="height:400px; margin-top:-50px; padding:5px; background-color:#fffafc"></div>
          </div>

          <span style="float:right; width:140px">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">
              var addthis_config = {"data_track_clickback":false};
              var addthis_share = {
                title: "{{ chart.title }}",
                url: "{{ url }}",
                lurl: "{{ shorturl }}",
                templates: {
                  twitter: "{{ chart.tweet }}"
                }
              }
            </script>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4db065a4597e8114"></script>
            <!-- AddThis Button END -->
          </span>

        </div>



        <div class="titlediv">
          <span id="datafromhead" class="title" style="background-color:#E58F17">
            <span>data from
              <a href="{{ chart.source_url }}">{{ chart.source_title }}</a>
            </span>
            <span style="padding-left:2em"></span>
            <span style="font-size:0.5em">▼</span>
          </span>
          <div id="datafrom" class="title" style="background-color:#E58F17; max-width:750px; margin-top:-0.5em; border-top-left-radius:0px">
            <br>
            {% autoescape off %}
            {{ chart.source_detail }}
            {% endautoescape %}
            <br>
            <br>
            <span style="font-size:0.75em; float:right">
              <span>Is this data recipe accurate?</span>
              <span>Yes</span>
              <span>No</span>
            </span>
          </div>
        </div>

        <div class="titlediv">
          <span id="postedbyhead" class="title" style="background-color:#BF5F22">
            <span>posted by {{ chart.chart_creator }}</span>
            <span style="padding-left:2em"></span>
            <span style="font-size:0.5em">▼</span>
          </span>
          <div id="postedby" class="title" style="background-color:#BF5F22; max-width:750px; margin-top:-0.5em; border-top-left-radius:0px">
            <div  style="float:right; margin-right:0px; margin-top:10px">
              <img src="{{ chart.chart_creator_avatar }}" style="border-radius:5px; border:5px solid #fffafc; padding:0px">
            </div>

            {% autoescape off %}
            {{ chart.chart_creator_detail }}
            {% endautoescape %}

          </div>
        </div>

        <div id="disqus_wrapper">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'd4t4'; // required: replace example with your forum shortname

            // The following are highly recommended additional parameters. Remove the slashes in front to use.
            var disqus_identifier = '{{ chart.disqus_identifier }}';
            var disqus_url = 'http://d4t4.org/taxpercent.html';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>
        <div class="titlediv">
          <div class="title" style="background-color:#990031; color:#ffffff; width:750px; font-size:1.0em; padding-top:1em; padding-bottom:1em">
            <span class="bottom_nav">About</span>
            <span class="bottom_nav">Blog</span>
            <span class="bottom_nav">Contact</span>
            <span class="bottom_nav">Help</span>
            <span class="bottom_nav">Terms</span>
            <span style="float:right">©2011 The Data Collective</span>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      <!-- DJ: added amcharts stuff from line.html -->

      var params = {
        bgcolor:"#FFFFFF"
      };

      var flashVars = {
        path: "/static/amcharts/flash/",

        /* in most cases settings and data are loaded from files, but, as this require
        all the files to be upladed to web server, we use inline data and settings here.*/

        chart_data: "{{ chart_data }}",
        chart_settings: "{{ chart_settings }}",

      };

      // change == to != to test flash version
      if(AmCharts.recommended() == "js"){
        var amFallback = new AmCharts.AmFallback();
        amFallback.settingsFile = flashVars.settings_file;  		// doesn't support multiple settings files or additional_chart_settins as flash does
        amFallback.dataFile = flashVars.data_file;
        amFallback.chartSettings = flashVars.chart_settings;
        amFallback.pathToImages = "/static/amcharts/javascript/images/";
        amFallback.chartData = flashVars.chart_data;
        amFallback.type = "line";
        amFallback.write("chartdiv");
      }
      else{
        swfobject.embedSWF("/static/amcharts/flash/amline.swf", "chartdiv", "600", "400", "8.0.0", "/static/amcharts/flash/expressInstall.swf", flashVars, params);
      }


      // if we actually end up using amcharts.com, we'll pay them
      // until then...
      $("tspan:contains('chart by amcharts.com')").remove();

    </script>

  </body>
</html>
