<html style="overflow-x:hidden; overflow-y:hidden">
  <head>
    <style type="text/css">
      @font-face {
          font-family: 'ChunkFiveRegular';
          src: url('/static/fonts/Chunkfive-webfont.eot');
          src: url('/static/fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/Chunkfive-webfont.woff') format('woff'),
               url('/static/fonts/Chunkfive-webfont.ttf') format('truetype'),
               url('/static/fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'OpenSansRegular';
          src: url('/static/fonts/OpenSans-Regular-webfont.eot');
          src: url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
               url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
               url('/static/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'OpenSansBold';
          src: url('/static/fonts/OpenSans-Bold-webfont.eot');
          src: url('/static/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
               url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
               url('/static/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
               url('/static/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
          font-weight: normal;
          font-style: normal;
      }

      body {
        background-color: white;
      }

      h1 {
        margin-top:8px;
        margin-left:8px;
        margin-right:8px;
        margin-bottom:0px;
        color: #3E679F;
        font: 200%/125% 'ChunkFiveRegular', verdana, sans-serif;
      }

      .chartForm {
        background-color: #ddd;
        padding: 10px;
      }

      .formfield {
        margin-bottom: 8px;
      }

      .editorTab {
        padding: 10px;
        font-size: 125%;
        cursor: pointer;
      }

      .activeEditorTab {
        background-color: #ddd;
      }

      .chartForm .status {
        background-color:transparent;
        border:none;
        width:10em;
      }
    </style>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/highcharts.js"></script>

    <script type="text/javascript">
      // -- DocumentMgr

      function DocumentMgr() {
        this.init = function() {
          this.savedSettings = this.currentSettings();
        };

        this.currentSettings = function() {
          return {
            chart_title: $("#chart_title").text(),
            chart_html_below_title: $("#chart_html_below_title").html(),
            chart_y_axis_description: $("#chart_y_axis_description").text(),
            chart_source_title: $("#chart_source_title").html(),
            chart_user_name: $("#chartUserName").val()
          };
        };

        this.resetSettings = function() {
          // No-op.
        };

        this.saveSettings = function() {
          this.savedSettings = this.currentSettings();
        };

        this.init();
      }

      // -- SettingsMgr

      function SettingsMgr() {
        this.init = function() {
          this.savedSettings = {{chart.chart_settings|safe}};

          if (!this.savedSettings.plotOptions) {
            this.savedSettings.plotOptions = {};
          }
          if (!this.savedSettings.plotOptions.line) {
            this.savedSettings.plotOptions.line = {};
          }
          if (!this.savedSettings.xAxis) {
            this.savedSettings.xAxis = {};
          }
          if (!this.savedSettings.xAxis.title) {
            this.savedSettings.xAxis.title = {};
          }
          if (!this.savedSettings.yAxis) {
            this.savedSettings.yAxis = {};
          }
          if (!this.savedSettings.yAxis.title) {
            this.savedSettings.yAxis.title = { text: null };
          }

          this.currentSettings = $.extend(true, {}, this.savedSettings);
        };

        this.saveSettings = function() {
          this.savedSettings = $.extend(true, {}, this.currentSettings);
        };

        this.resetSettings = function() {
          this.currentSettings = $.extend(true, {}, this.savedSettings);
        };

        this.allSettings = function() {
          var settings = {};
          $.extend(true, settings, this.baseSettings);
          $.extend(true, settings, this.currentSettings);
          return settings;
        };

        this.baseSettings = {
          chart: {
            renderTo: 'chartdiv',
            defaultSeriesType: 'line'
          },
          title: { text: "" },
          credits: { text: "" },
          plotOptions: {
                          line: {
                                 lineWidth: 5,
                                 marker: { enabled: false,
                                           symbol: 'circle',
                                           states: {
                                                hover: {
                                                   enabled: true
                                                }
                                           }
                                         }
                          }
                       },
        };

        this.init();
      }

      // -- SeriesMgr

      SeriesMgr = function() {
        this.init = function() {
          this.savedSeries = {{chart.chart_data|safe}};
          this.currentSeries = $.extend(true, [], this.savedSeries);
        };

        this.resetSeries = function() {
          this.currentSeries = $.extend(true, [], this.savedSeries);
        };

        this.saveSeries = function() {
          this.savedSeries = $.extend(true, {}, this.currentSeries);
        };

        this.formattedSeriesData = function(series) {
          var nSeries = series.length;

          if (nSeries === 0) {
            return "";
          }

          var result = "";
          var nPoints = series[0].data.length;

          for (iSeries = 0; iSeries < nSeries; ++iSeries) {
            if (iSeries !== 0) {
              result += "\t";
            }
            result += series[iSeries].name;
          }

          result += "\n";

          for (iPoint = 0; iPoint < nPoints; ++iPoint) {
            var line = "";

            for (iSeries = 0; iSeries < nSeries; ++iSeries) {
              if (iSeries !== 0) {
                line += "\t";
              }
              line += series[iSeries].data[iPoint].toString();
            }

            result += line + "\n";
          }

          return result;
        };

        this.init();
      }

      // -- SettingsEditor

      function SettingsEditor() {
        this.init = function() {
          this.documentMgr = new DocumentMgr();
          this.settingsMgr = new SettingsMgr();
        };

        this.initForm = function() {
          $("#chartTitle").val($("#chart_title").text());
          $("#chartHtmlBelowTitle").val($("#chart_html_below_title").html());
          $("#chartYAxisDescription").val($("#chart_y_axis_description").text());
          $("#chartSourceTitle").val($("#chart_source_title").html());

          var chartSettings = this.settingsMgr.allSettings();

          this.initFormField(chartSettings, "plotOptions.line.pointStart", "pointStart");
          this.initFormField(chartSettings, "plotOptions.line.pointInterval", "pointInterval");

          this.initFormField(chartSettings, "xAxis.min", "xAxisMin");
          this.initFormField(chartSettings, "xAxis.title.text", "xAxisTitle");

          this.initFormField(chartSettings, "yAxis.min", "yAxisMin");
          this.initFormField(chartSettings, "yAxis.title.text", "yAxisTitle");

          $("#applyChartSettings").attr('disabled', false);
          $("#resetChartSettings").attr('disabled', true);
          $("#saveChartSettings").attr('disabled', true);
          $("#saveQuitChartSettings").attr('disabled', true);
        };

        this.initFormField = function(chartSettings, objName, elName) {
          var value;

          try {
            value = eval("chartSettings." + objName);
          } catch (err) {}

          if (value == null || typeof(value) == "undefined") {
            value = "";
          }

          $("#" + elName).val(value.toString());
        };

        this.applyFloatField = function(objName, elName) {
          var value = $("#" + elName).val();

          if (value.length === 0) {
            eval("delete this.settingsMgr.currentSettings." + objName);
          }
          else {
            var floatValue = parseFloat(value);

            if (!isNaN(floatValue)) {
              eval("this.settingsMgr.currentSettings." + objName + " = floatValue");
            }
          }
        };

        this.applyStringField = function(objName, elName) {
          var value = $("#" + elName).val();

          if (value.length === 0) {
// null instead of deleting the value so that highcharts wont display anything
            eval("this.settingsMgr.currentSettings." + objName + " = null");
          }
          else {
            eval("this.settingsMgr.currentSettings." + objName + " = value");
          }
        };

        this.onApply = function() {
          $("#chart_title").text($("#chartTitle").val());
          $("#chart_html_below_title").html($("#chartHtmlBelowTitle").val());
          $("#chart_y_axis_description").text($("#chartYAxisDescription").val());
          $("#chart_source_title").html($("#chartSourceTitle").val());

          this.applyFloatField("plotOptions.line.pointStart", "pointStart");
          this.applyFloatField("plotOptions.line.pointInterval", "pointInterval");

          this.applyFloatField("xAxis.min", "xAxisMin");
          this.applyStringField("xAxis.title.text", "xAxisTitle");

          this.applyFloatField("yAxis.min", "yAxisMin");
          this.applyStringField("yAxis.title.text", "yAxisTitle");

          $("#resetChartSettings").attr('disabled', false);
          $("#saveChartSettings").attr('disabled', false);
          $("#saveQuitChartSettings").attr('disabled', false);

          renderDynamicChart();
        };

        this.onReset = function() {
          $("#chart_title").text(this.documentMgr.savedSettings.chart_title);
          $("#chart_html_below_title").html(this.documentMgr.savedSettings.chart_html_below_title);
          $("#chart_y_axis_description").text(this.documentMgr.savedSettings.chart_y_axis_description);
          $("#chart_source_title").html(this.documentMgr.savedSettings.chart_source_title);

          this.settingsMgr.resetSettings();

          $("#resetChartSettings").attr('disabled', true);
          $("#saveChartSettings").attr('disabled', true);
          $("#saveQuitChartSettings").attr('disabled', true);

          this.initForm();
          renderDynamicChart();
        };

        this.onSave = function() {
          $("#applyChartSettings").attr('disabled', true);
          $("#resetChartSettings").attr('disabled', true);
          $("#saveChartSettings").attr('disabled', true);
          $("#saveQuitChartSettings").attr('disabled', true);

          this.setStatus("Saving...", 0);

          var data = $.extend(true, {chart_settings: this.settingsMgr.currentSettings}, this.documentMgr.currentSettings());
          var self = this;

          $.ajax({
            url: "/chart/update/{{chart.id|safe}}/",
            type: "POST",
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) { self.onSaveSuccess(data, textStatus, jqXHR); },
            error: function(jqXHR, textStatus, errorThrown) { self.onSaveError(jqXHR, textStatus, errorThrown); }
          });
        };

        this.onSaveSuccess = function(data, textStatus, jqXHR) {
          if (data !== "ok") {
            return this.onSaveError(null, null, "no status");
          }

          this.documentMgr.saveSettings();
          this.settingsMgr.saveSettings();

          $("#applyChartSettings").attr('disabled', false);

          this.setStatus("Saved.", 0);
          this.setStatus("", 3000);
        };

        this.onSaveError = function(jqXHR, textStatus, errorThrown) {
          $("#applyChartSettings").attr('disabled', false);
          $("#resetChartSettings").attr('disabled', false);
          $("#saveChartSettings").attr('disabled', false);
          $("#saveQuitChartSettings").attr('disabled', false);

          this.setStatus("", 0);

          if (!errorThrown) {
            errorThrown = "unknown";
          }
          alert("Chart settings could not be saved (" + errorThrown + ").");
        };

        this.setStatus = function(text, timeout) {
          setTimeout(function() { $("#settingsStatus").val(text); }, timeout);
        };

        this.init();
      }

      // -- SeriesEditor

      function SeriesEditor() {
        this.init = function() {
          this.seriesMgr = new SeriesMgr();
        };

        this.initForm = function() {
          $("#seriesData").val(this.seriesMgr.formattedSeriesData(this.seriesMgr.currentSeries));

          $("#applySeries").attr('disabled', false);
          $("#resetSeries").attr('disabled', true);
          $("#saveSeries").attr('disabled', true);
          $("#saveQuitSeries").attr('disabled', true);
        };

        this.onApply = function() {
          $("#applySeries").attr('disabled', true);
          $("#resetSeries").attr('disabled', true);
          $("#saveSeries").attr('disabled', true);
          $("#saveQuitSeries").attr('disabled', true);

          this.setStatus("Importing...", 0);

          var data = {data: $("#seriesData").val()};
          var self = this;

          $.ajax({
            url: "/chart/convertdata/",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) { self.onApplySuccess(data, textStatus, jqXHR); },
            error: function(jqXHR, textStatus, errorThrown) { self.onApplyError(jqXHR, textStatus, errorThrown); }
          });
        };

        this.onApplySuccess = function(data, textStatus, jqXHR) {
          this.seriesMgr.currentSeries = data;

          $("#applySeries").attr('disabled', false);
          $("#resetSeries").attr('disabled', false);
          $("#saveSeries").attr('disabled', false);
          $("#saveQuitSeries").attr('disabled', false);

          this.setStatus("Imported.", 0);
          this.setStatus("", 3000);

          renderDynamicChart();
        };

        this.onApplyError = function(jqXHR, textStatus, errorThrown) {
          $("#applySeries").attr('disabled', false);
          $("#resetSeries").attr('disabled', false);

          this.setStatus("", 0);

          if (!errorThrown) {
            errorThrown = "unknown";
          }
          alert("This data could not be imported (" + errorThrown + ").");
        };

        this.onReset = function() {
          this.seriesMgr.resetSeries();

          $("#resetSeries").attr('disabled', true);
          $("#saveSeries").attr('disabled', true);
          $("#saveQuitSeries").attr('disabled', true);

          this.initForm();
          renderDynamicChart();
        };

        this.onSave = function() {
          $("#applySeries").attr('disabled', true);
          $("#resetSeries").attr('disabled', true);
          $("#saveSeries").attr('disabled', true);
          $("#saveQuitSeries").attr('disabled', true);

          this.setStatus("Saving...", 0);

          var data = { "chart_data": this.seriesMgr.currentSeries };
          var self = this;

          $.ajax({
            url: "/chart/update/{{chart.id|safe}}/",
            type: "POST",
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) { self.onSaveSuccess(data, textStatus, jqXHR); },
            error: function(jqXHR, textStatus, errorThrown) { self.onSaveError(jqXHR, textStatus, errorThrown); }
          });
        };

        this.onSaveSuccess = function(data, textStatus, jqXHR) {
          if (data !== "ok") {
            return this.onSaveError(null, null, "no status");
          }

          this.seriesMgr.saveSeries();

          $("#applySeries").attr('disabled', false);

          this.setStatus("Saved.", 0);
          this.setStatus("", 3000);
        };

        this.onSaveError = function(jqXHR, textStatus, errorThrown) {
          $("#applySeries").attr('disabled', false);
          $("#resetSeries").attr('disabled', false);
          $("#saveSeries").attr('disabled', false);
          $("#saveQuitSeries").attr('disabled', false);

          this.setStatus("", 0);

          if (!errorThrown) {
            errorThrown = "unknown";
          }
          alert("This series could not be saved (" + errorThrown + ").");
        };

        this.setStatus = function(text, timeout) {
          setTimeout(function() { $("#seriesStatus").val(text); }, timeout);
        };

        this.init();
      }

      function renderDynamicChart() {
        var chartSettings = settingsEditor.settingsMgr.allSettings();

        chartSettings.series = seriesEditor.seriesMgr.currentSeries;

        if (!chartSettings.xAxis.labels) {
          chartSettings.xAxis.labels = {};
        }
        chartSettings.xAxis.labels.formatter = function() { return this.value; };

        var chart = new Highcharts.Chart(chartSettings);
      }

      function activateSettingsEditor() {
        seriesEditor.onApply();           
        $("#settingsTab").addClass("activeEditorTab");
        $("#seriesTab").removeClass("activeEditorTab");

        $("#seriesForm").hide();
        $("#settingsForm").show();
      }

      function activateSeriesEditor() {
        settingsEditor.onApply();           
        $("#seriesTab").addClass("activeEditorTab");
        $("#settingsTab").removeClass("activeEditorTab");

        $("#settingsForm").hide();
        $("#seriesForm").show();
      }

      $(document).ready(function() {
        settingsEditor = new SettingsEditor();
        seriesEditor = new SeriesEditor();

        settingsEditor.initForm();
        seriesEditor.initForm();

        var saveAll = function(event) {
           settingsEditor.onSave();
           seriesEditor.onSave();
        };


        var saveAllAndQuit = function(event) {
           var chartNumber = $("#chartNumber").val()
           var url = "/chart/" + chartNumber;
           saveAll(event);
           window.setTimeout(function(){$(location).attr('href',url);}, 100, true);
        };

//        $("#saveSeries,#saveChartSettings").bind('click', saveAll);
        $("#saveQuitSeries,#saveQuitChartSettings").bind('click', saveAllAndQuit);

        renderDynamicChart();
      });
    </script>
  </head>

  <body>
    <table><tr>
      <td valign="top">
        <div style="width: 600px">
          <div class="datacollective-chart" id="datacollective-chart-{{chart.id|safe}}" width="630" margin="auto">
          <h1 id="chart_title" align="left">{{chart.title}}</h1>
          <p id="chart_html_below_title" align="left" style='margin-top:8px; margin-left:8px; margin-right:8px; font-family:Georgia'>{{chart.html_below_title|safe}}</p>
          <p id="chart_y_axis_description" align="left" style='margin-top:8px; margin-left:8px; margin-right:8px; color:#888888; font-family:ChunkFiveRegular; font-size:75%'>{{chart.y_axis_description|safe}}</p>

          <div id="chartdiv"></div>

          <div id="creditsdiv" style="font-family:Georgia; margin-left:125px; width:475px; font-size: 85%; color:#888888; text-align:left; float:left">
            <b>Source</b>: <span id="chart_source_title">{{chart.source_title|safe}}</span>.
          </div>
        </div>
      </td>
      <td valign="top">
        <div>
          <span id="settingsTab" class="editorTab activeEditorTab" onclick="activateSettingsEditor();">Settings</span>
          <span id="seriesTab" class="editorTab" onclick="activateSeriesEditor();">Series</span>
        </div>
        <div id="settingsForm" class="chartForm">
          <form>
            <input id="chartNumber" type="hidden" value={{chart.id}}>
            <input id="chartUserName" type="hidden" value={{user.username}}>
            <table>
              <tr>
                <td colspan="2">
                  <div>Chart Title (text)</div>
                  <div class="formfield"><input id="chartTitle" style="width:100%" value=""></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div>Chart Description (html)</div>
                  <div class="formfield"><textarea id="chartHtmlBelowTitle" style="width:100%"></textarea></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div>Y Axis Description (text)</div>
                  <div class="formfield"><input id="chartYAxisDescription" style="width:100%" value=""></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div>Source (html)</div>
                  <div class="formfield"><textarea id="chartSourceTitle" style="width:100%"></textarea></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>Line Starting Point</div>
                  <div class="formfield"><input id="pointStart" value="" style="margin-right: 10px;"></div>
                </td>
                <td>
                  <div>Point Interval</div>
                  <div class="formfield"><input id="pointInterval" value=""></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>X Axis Minimum</div>
                  <div class="formfield"><input id="xAxisMin" value="" style="margin-right: 10px;"></div>
                </td>
                <td>
                  <div>X Axis Title</div>
                  <div class="formfield"><input id="xAxisTitle" value=""></div>
                </td>
              <tr>
                <td>
                  <div>Y Axis Minimum</div>
                  <div class="formfield"><input id="yAxisMin" value="" style="margin-right: 10px;"></div>
                </td>
                <td>
                  <div>Y Axis Title</div>
                  <div class="formfield"><input id="yAxisTitle" value=""></div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input id="applyChartSettings" type="button" value="Apply" onclick="settingsEditor.onApply();">
                  <input id="saveChartSettings" type="button" value="Save" onclick="settingsEditor.onSave();">
                  <input id="saveQuitChartSettings" type="button" value="Save & Quit">
                  <input id="settingsStatus" type="text" class="status" readonly="readonly">
                  <input id="resetChartSettings" type="button" value="Reset" style="float:right" onclick="settingsEditor.onReset();">
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div id="seriesForm" class="chartForm" style="display:none;">
          <table>
            <tr>
              <td>
                <div>Data</div>
                <div class="formfield"><textarea rows="30" cols="40" id="seriesData"></textarea></div>
              </td>
            </tr>
            <tr>
              <td>
                <input id="applySeries" type="button" value="Apply" onclick="seriesEditor.onApply();">
                <input id="saveSeries" type="button" value="Save" onClick="seriesEditor.onSave();">
		<input id="saveQuitSeries" type="button" value="Save & Quit">
                <input id="seriesStatus" type="text" class="status" readonly="readonly">
                <input id="resetSeries" type="button" value="Reset" style="float:right" onclick="seriesEditor.onReset();">
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    </tr></table>
  </body>
</html>
