{% load url from future %}

<html>
  <head>
    <title>
      List of all charts
    </title>
  </head>

  <body>
    <h1>List of all charts
{% if user %}
for {{ user.first_name }} {{ user.last_name }} ( {{ user.username }} )
{% else %}
for nobody in particular
{% endif %}
</h1>

    <ul>
      {% for chart in charts %}
      <li>
      {% if chart.sparkblocks %}
      <a href="/{{ chart.sparkblocks }}">
        {{ chart.sparkblocks }}</a><br>
      {% endif %}
      <a href="{% url 'chart.views.view' chart.id %}">
      {% if chart.title %}
      {{ chart.title }}
      {% else %}
      Chart #{{ chart.id }}{% endif %}</a>
      {% if chart.creator and not user %}
      <br>Posted by {{ chart.creator_name }}
      {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
