{% extends "base.html" %}
{% load url from future %}
{% load common_tags %}

{% block title %}
{% if for_user %}{{ user|user_display_name }}’s {% else %}All{% endif %}
Charts
{% endblock %}

{% block content %}
<h1>
  {% if for_user %}{{ user|user_display_name }}’s {% else %}All{% endif %}
  Charts
</h1>

<ul>
  {% for chart in charts %}
  <li>
  {% if chart.sparkblocks %}
  <a href="/{{ chart.sparkblocks }}">
    {{ chart.sparkblocks }}</a><br>
  {% endif %}
  <a href="{{ chart.get_absolute_url }}">
    {% if chart.title %}
    {{ chart.title }}
    {% else %}
    Chart #{{ chart.id }}{% endif %}</a>
  {% if chart.creator and not for_user %}
  <br>Posted by {{ chart.creator_name }}
  {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
