<html>
  <head>
    <title>
      List of all charts
    </title>
  </head>

  <body>
    <h1>List of all charts</h1>

    <ul>
      {% for chart in charts %}
      <li>
      {% if chart.sparkblocks %}
      <a href="/{{ chart.sparkblocks }}">
        {{ chart.sparkblocks }}</a><br>
      {% endif %}
      <a href="{{ chart.id }}">
      {% if chart.title %}
      {{ chart.title }}
      {% else %}
      Chart #{{ chart.id }}{% endif %}</a>
      {% if chart.creator %}
      <br>Posted by {{ chart.creator_name }}
      {% endif %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
