/* colors:
  #731c2b
  #8ca665
  #a6f1a8
  #f2efe9
  #bf9a84
*/

body {
  background: #f2efe9;
}

header {
  float: left;
  width: 370px;
}

#logo {
  height: 150px;
  overflow: hidden;
}

#tagline {
  font: 14pt Verdana;
  color: #731c2b;
  margin: 10px;
}

#container {
  float: left;
  max-width: 500px;
  margin: 0px 10px;
}

section h1 {
  background: #731c2b;
  color: #f2efe9;
  padding: 10px 0px 5px 10px;
  font: 18pt verdana;
}

#searchbox {
  width: 30%;
}

.no_top_margin {
  margin-top: 0;
}

.demo_warning {
  font: bold 48pt Courier;
  position: fixed;
  top: 0;
  right: 0;
  width: 5em;
  display: block;
  text-align: right;
}

#clear_style {
  font: 12pt inherit;
}
