/* colors:
  #731c2b
  #8ca665
  #a6f1a8
  #f2efe9
  #bf9a84
*/

body {
  background: #f2efe9;
  font: 8pt verdana;
}

header {
  float: left;
  width: 370px;
}

#logo {
  height: 150px;
  overflow: hidden;
}

#tagline {
  font: 14pt Verdana;
  color: #731c2b;
  margin: 10px;
}

#container {
  float: left;
  max-width: 500px;
  margin: 0px 10px;
}

section h1 {
  background: #731c2b;
  color: #f2efe9;
  padding: 10px 0px 5px 10px;
  font: 18pt verdana;
}

section {
  clear: left;
}

#searchbox {
  width: 30%;
}

.no_top_margin {
  margin-top: 0;
}

.demo_warning {
  font: bold 18pt Courier;
  position: fixed;
  top: 20px;
  right: 0;
  width: 5.5em;
  display: block;
  text-align: right;
  padding-right: 1em;
}

#clear_style {
  font: 12pt inherit;
  display: none;
}

#chart_container {
  float: left;
  max-width: 700px;
  margin: 0px 10px;
}

#chart_wrapper {
  padding: 0px;
  margin: 0px;
  width: 700px;
  height: 438px;
  overflow: hidden;
}

section h2 {
  color: #731c2b;
  padding: 10px 0px 5px 10px;
  font: 18pt verdana;
  clear: left;
}

.sidebar, .sidebar_top {
  float: left;
  width: 370px;
}

#left {
  float: left;
  width: 370px;
}

.commenter_icon {
  float: left;
}

.comment_text {
  margin-top: 10px;
  margin-left: 90px;
  max-width: 10em;
}

.comment {
  clear: left
}

.chartlink {
  padding-top: 10px;
  clear: left;
}

.chartlink img {
  float: left;
}

#data_table {
  max-height: 10em;
  overflow-y: scroll;
  background: #ffffff;
}

#data_table pre {
  margin: 0px 10px;
  white-space: pre-wrap;
}

#source {
  margin-bottom: 10px;
}

#source_details {
  line-height: 130%;
/*  max-width: 20em; */
}

a[href=""] {
  color: black;
}

a[href="#"] {
  color: black;
}

.clear {
  clear: both;
}
